{% extends 'vacation/base.html' %} {% block content %} {% if user.is_authenticated %}

<button class="btn btn-primary btn float-right" onclick="location.href='/vacation/create/'">휴가 신청하기</button>
<button class="mr-1 btn btn-outline-warning btn float-right" onclick="location.href='/admin/admin_tools/'">휴가 관리페이지 >></button>
{% else %}

<a href="/login/sign_in/" class="text-warning float-right">휴가신청 또는 휴가승인을 위해 로그인이 필요합니다.</a>

{% endif %}
<br>

<style>
    #content_title {
        text-decoration: none;
        color: #000000;
    }
</style>

{% if search_info %}
<h1 id="blog-list-title">

    <a id="content_title" href="#">{{ search_info }}</a>

</h1>

<p class="text-primary float-right">{{ object_list.count }}개의 게시물이 검색되었습니다.</p>
<br>
<br> {% else %}
<h1 id="blog-list-title">

    <a id="content_title" href="#">출타 관리</a>
</h1>

<h5 id="blog-list-title">

    <a class="float-right">총 출타 횟수: {{ object_list.count }}</a>
    <br>
</h5>

{% endif %} {% if object_list.exists %} {% for p in object_list %}
<!-- msgboards Post -->
<div class="card mb-4" id="post-card-{{ p.pk }}">

    <div class="card-body">
        <h2 class="card-title">{{ p.vacation_type }}</h2>
        <h5 class="card-title">{{ p.start_date|date:"Y-m-d" }}~{{ p.end_date|date:"Y-m-d" }}</h5>

        <p class="card-text">{{ p.content | truncatewords:50}}</p>

        {% for tag in p.tags.all %}
        <a href="{{ tag.get_absolute_url }}">#{{ tag }} </a>
        {% endfor %}
        <br/>
        <br/>

        <a href="{{ p.get_absolute_url }}" class="btn btn-primary" id="read-more-post-{{ p.pk }}">상세보기 &rarr;</a>
        <!-- <button type="button" class="btn btn-link disabled float-right">댓글: </button> -->
    </div>

    <div class="card-footer text-muted">
        Posted on {{ p.created }} by
        <a href="#">{{ p.author }}</a>
    </div>
</div>
{% endfor %} {% if is_paginated %}
<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&larr; Older</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#">&larr; Older</a>
    </li>
    {% endif %} {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Newer &rarr;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %} {% else %}
<h3>출타 신청 내역이 없습니다. </h3>
{% endif %} {% endblock %}