{% extends 'basecamp/base_full.html' %} {% load static %} {% block title %}Smart Work - 관리자 페이지{% endblock %} {% block content %}

<div id="wrapper">

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">관리자 페이지</li>

                <li class="breadcrumb-item active">사이트 커스텀</li>
            </ol>
            {% include './base_menu.html' %}

            <!-- DataTables 부대활동 커스텀 -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    부대활동 커스텀</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>게시판 제목</th>
                                    <th>설명</th>

                                    <th>수정</th>

                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>게시판 제목</th>
                                    <th>설명</th>

                                    <th>수정</th>

                                </tr>
                            </tfoot>
                            <tbody>
                                {% for category in category_list %}

                                <tr>
                                    <td>{{ category.name }}</td>
                                    <td>{{ category.description }}</td>
                                    <th>

                                        <a class="btn btn-outline-warning" href="/admin/super/MessageBoards/category/" role="button">수정하기</a>

                                    </th>

                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
                <a class="btn btn-outline-secondary" href="/admin/super/MessageBoards/category/" role="button">+ 추가하기</a>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>

            <!-- DataTables 연계사이트 커스텀 -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    연계사이트 커스텀</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>게시판 제목</th>
                                    <th>url</th>

                                    <th>수정</th>

                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>게시판 제목</th>
                                    <th>url</th>

                                    <th>수정</th>

                                </tr>
                            </tfoot>
                            <tbody>
                                {% for p in msgboards %}

                                <tr>
                                    <td>{{ p.name }}</td>
                                    <td>{{ p.url_link }}</td>
                                    <th>

                                        <a class="btn btn-outline-warning" href="/admin/super/AdminPages/urlcostum/" role="button">수정하기</a>

                                    </th>

                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
                <a class="btn btn-outline-secondary" href="/admin/super/MessageBoards/category/" role="button">+ 추가하기</a>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Footer -->
        {% include 'basecamp/footer.html' %}

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<script src="{% static 'BootsWatch/Litera/_assets/js/jquery.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'bootstrap/admin_tools/jquery.easing.min.js' %}"></script>

<!-- Page level plugin JavaScript-->
<script src="{% static 'bootstrap/admin_tools/Chart.min.js' %}"></script>

<script src="{% static 'bootstrap/admin_tools/jquery.dataTables.js' %}"></script>

<script src="{% static 'bootstrap/admin_tools/dataTables.bootstrap4.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'bootstrap/admin_tools/sb-admin.min.js' %}"></script>

<!-- Demo scripts for this page-->
<script src="{% static 'bootstrap/admin_tools/datatables-demo.js' %}"></script>
<script src="{% static 'bootstrap/admin_tools/chart-area-demo.js' %}"></script>
{% endblock %}