    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2019 WooJeongHeon</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="/about_me/">Privacy</a>
            </li>
            <li class="list-inline-item">
                <a href="/about_me/">Terms</a>
            </li>
            <li class="list-inline-item">
                <a href="/about_me/">Support</a>
            </li>
        </ul>
    </footer>